@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset de estilos para asegurarse de que no haya estilos predeterminados del navegador */


/* Estilos generales de la página */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(35,33, 40);
    /*background-image: url("../img/fondo.png");
    background-size: cover;*/    
    height: 100vh;
    margin: 0;    
}

header {
    height: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

header img {
    height: 70%;
}

h1 {
    font-size: 500%;
    color: #A5AEAD;
}

.main {
    height: 70%;    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #A5AEAD;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0, 0, 0.3);
}


/* Estilos del formulario */
.exchange-form {
    margin: 20px auto;   
    max-width: 350px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

/*label {
    text-align: left;
    display: block;
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 5px;
}*/

label {
    display: block;
    width: 62.53px;
}

input, select {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;    
}

button {
    background-color: #007BFF;
    color: #fff;
    margin-top: 10%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#liveAlertPlaceholder {
    text-align: center;
    margin-top: 10%;
}


/* Estilos del pie de página */
footer {
    height: 5%;
    display: flex;
    text-align: center;
    margin-top: 5px;
    color: #777;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
}
