{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}

<header>    
    <img src="{{ data.logo }}" alt="logo">
    <h1>{{ data.titulo }}</h1>    
</header>
<div class="main">
    <main>
        <section class="exchange-form">
        <form id="exchange-form">
            <div class="input-group mb-3">
                <label class="input-group-text" for="from-currency">From</label>
                <select class="form-select" id="from-currency">
                  <option selected>Choose...</option>
                  <option value="USD">USD($)</option>
                  <option value="EUR">EUR(€)</option>
                  <option value="GBP">GBP(£)</option>
                </select>
              </div>
              
    
              <div class="input-group mb-3">
                <label class="input-group-text" for="to-currency">To</label>
                <select class="form-select" id="to-currency">
                  <option selected>Choose...</option>
                  <option value="USD">USD($)</option>
                  <option value="EUR">EUR(€)</option>
                  <option value="GBP">GBP(£)</option>
                </select>
              </div>
    
            <label for="amount">Value:</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input id="amount" type="number" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" id="calculate-button">Calculate</button>
            </div>

        </form>
        
        <div id="liveAlertPlaceholder"></div>

        </section>
    </main>
</div>

<footer>
    <p>&copy; 2023 Intercambio de Divisas</p>
</footer>

{% endblock %}